body {
  margin: 0;
font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display:none!important;
}

body {
  background-color: #fff;
  padding: 0px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size:20px;
}

a {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color:blue;
}

.bold {
  font-weight:bold;
}

.main-bg {
  background-color:rgba(247,202,153,.4);
}

.text-indent-div {
  padding-left:50px;
  padding-right:50px;
}

/* NEW */
.blog-container {
  margin-top:240px;
  /* padding-bottom:100px; */
}

.blog-hr {
  margin:80px 0px;
}

.blog-post-list-item h2 {
  font-size:50px;
}

.blog-post-list-item h3 {
  font-size:25px;
}

/* MENU STYLING  */

.social-container {
  width:100%;
  height:auto;
  padding:30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#ffdbb9;
}

.social-container-row {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.social-container-row a img {
  width:100px;
}

.social-container-row a img:nth-of-type(1) {
  margin:0px 10px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.services-pg-col-2 a {
  text-decoration:none;
  text-decoration-color:#FFCB9A!important;
  color:#1d2096;
  background-color:#feffe7;
  font-weight:bold;
}

.flex-col {
  display:flex;
  flex-direction: column;
}

.active-service {
  background-color:#FFCB9A!important;
}

.nav-bar {
  /* display:none; */
}
#menu-container {
  height:200px;
  background-color:#FFCB9A;
  padding:20px 0px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  opacity:.8;
  position: absolute;
  top:0;
  z-index:9999;
  width:100%;
}

#menu-container a {
text-decoration:none!important;
text-decoration-color: inherit!important;
color:black;
}

#menu-container #logo {
  width:150px;
  margin-left:50px;
  margin-right:100px;
}


#menu {
  color:#54585A;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content: flex-end;
  width:100%;
  text-transform:uppercase;
}

.menu-contact a {
  display:inherit;
}

.email-icon {
  width:30px;
  padding-right:50px;
}

.email-icon-contact {
  width:50px;
  padding-left:50px;
}

.phone-icon {
  width:30px;
  padding-right:50px;
}

.phone-icon-contact {
  width:50px;
  padding-right:50px;
}

#menu h1 {
  padding:20px;
  padding-bottom:0px;
  font-size:17px;

}

#hero-banner {
  background-image:  url("/assets/img/lawyer-signing-copy.jpg");
  width:100%;
  height:800px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0px -100px;
}

#hero-header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px;
  padding-left:0px;
  padding-right:0px;
}

#hero-header h1 {
  font-size:90px;
  letter-spacing: 8px;
  font-weight:100;
  width:100%;
  color:white;
  text-align: center;
  padding:20px 0px;
  background-color:rgba(50,50,50, .4);
  margin-top:300px;
}

#hero-header a {
  text-decoration:none;
}

#message-confirm {
  display:none;
  color:green;
}

#error-message {
  display:none;
  color:red;
}

.btn {
  height:80px;
  width:300px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  background-color:#754c26bd;
}

.btn h2 {
  font-size:26px;
  display:inline;
  color:white;
}

.content-container {
  margin-top:-0px;
  padding-top:70px;

}
.content-div {
  height:500px;
  width:90%;
  margin:0 auto;
  background-color:white;
  opacity:1!important;
  padding:40px;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

.content-div img {
  height:400px;
  padding-left:30px;


}

.headlines {
  font-size:50px;
  letter-spacing:4px;
  font-weight:100;
  text-transform: uppercase;
  margin-top:0px;
}

.payment-header {
  font-size:20px;
  letter-spacing:4px;
  font-weight:100;
  text-transform: uppercase;
  margin-right:40px;
  border:1px solid black;
  padding:5px;
}

.underline {
  width:100%;
  border:2px solid black;
  text-align:left;
}

.underline-header {
  width:100%;
  border:1px solid black;
  text-align:left;
  margin-bottom:-20px;
}

.text-div {
  width:40%!important;
  margin:0 auto;
}

.form-div {
  background-image:  url("/assets/img/statue-flipped.jpg");
  background-color:#FFCB9A;
  height:auto;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: -200px 100px;
  padding:50px;
}

.form {
  background-color:white;
  height:auto;
  width:700px;
  margin-left:400px;
  padding:80px;
}


.services-div {
  width:75%;
  margin:0 auto;
  padding:80px;
}

.services-intro {
  width:90%;
  margin:0 auto;

}

.services-div p {

}

.services-div h1 {
  background-color:#FFCB9A;
}

.services-container {
  width:100%;
}

.services-div h3 {
  font-size:30px;
  /* background-color:rgba(247,202,153,.4); */

}

.services-col-1 {
  width:50%;
  margin-right:10px;
}

.services-col-1 a {
text-decoration:none;

}

.services-col-2 {
  width:50%;
}

.services-col-2 a {
  text-decoration:none;

}

.services-col-1 div {
  border:1px solid black;
  box-shadow: 2px 2px 3px grey;
  padding:20px;
  margin:30px 10px;
  display:flex;
  flex-direction: column;
}

.services-col-2 div {
  border:1px solid black;
  box-shadow: 2px 2px 3px grey;
  padding:20px;
  margin:30px 10px;
  display:flex;
  flex-direction: column;

}

.generic-button {
  /* height:20px; */
  /* width:100px; */
  padding-top:7px!important;
  padding-bottom: 7px!important;
  margin-top:8px!important;
  margin-bottom:8px!important;
  align-self:center;
  text-align:center;
  cursor: pointer;
  color: black;
  text-decoration: none!important;
}

.services-icon {
  width:50px;
  display:inline-block;
  align-self:center;
  text-align:center;
  margin:0 auto;
}

.quote-section {
  background-color:rgba(247,202,153, .4);
  padding:50px 200px;

  height:300px;

}

.quote-section p {
  font-size:26px;
}

.testimonial-section {
  background-color:rgba(247,202,153, .4);
  padding:20px 50px;
  margin:20px 0px;
  height:auto;

}

.align-right {
  text-align: right;
}

.about-section {
  width:90%;
  margin:0 auto;
  margin-top:70px;
  margin-bottom:70px;
}

#profile {
  height:700px;
  margin-right:100px;
}

.bio-info {
  text-align:right;
  background-color:#FFCB9A;
  width:60%;
  margin-left:100px;
  padding:10px;
}



.disclaimer-div {
  background-color:#FFCB9A;
  height:300px;
  display:flex;
  flex-direction: row;
  padding:80px;
  align-items:center;
  margin-top:0px;
  text-align:center;
}

.disclaimer-div img {
  width:400px;
  margin-right:100px;
}


/*CONTACT PAGE */

.contact-container {
  width:90%;
  margin:0 auto;
  margin-top:300px;

}

.contact-container h3 {
  text-align:center;
}

.contact-flex {
  display:flex;
  flex-direction: row;
}

.contact-icons {
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  padding:10px;
  margin-top:30px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:rgba(247,202,153, .4);

}

.contact-left {
  margin-right:100px;
  width:30%;
  display:flex;
  flex-direction: column;

}
.contact-img {
  width:300px;
  align-self:center;
}

.contact-right {
  width:70%;
}

.disclaimer-div p {
  font-size:15px;
}



/*SERVICES PAGE*/

.services-hero, .testimonials-hero {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px;
  padding-left:0px;
  padding-right:0px;
}

.bankruptcy-hero {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px;
  padding-left:0px;
  padding-right:0px;
}

.faq-hero {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px;
  padding-left:0px;
  padding-right:0px;
}

.services-banner {
  background-image:  url("/assets/img/table-contract.jpg");
  width:100%;
  height:600px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0px -100px;
}

.bankruptcy-banner {
  background-image:  url("/assets/img/lawyer-forms.jpg");
  width:100%;
  height:600px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0px 00px;
}

.faq-banner {
  background-image:  url("/assets/img/weighing-scales.jpg");
  width:100%;
  height:600px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0px -100px;
}

.services-pg-content-container {
  margin-top:-0px;
  padding-top:20px;
  background-color:rgba(247,202,153,.4);
}

.blog-pg-content-container {
  margin-top:-0px;
  padding-top:80px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:80px;
  background-color:rgba(247,202,153,.4);
}

.services-hero h1, .testimonials-hero h1 {
  font-size:90px;
  letter-spacing: 8px;
  font-weight:100;
  border:1px solid white;
  /* width:100%; */
  color:white;
  text-align: center;
  padding:20px;
  background-color:rgba(50,50,50, .4);
  margin-top:250px;
}

.bankruptcy-hero h1 {
  font-size:90px;
  letter-spacing: 8px;
  font-weight:100;
  border:1px solid white;
  /* width:100%; */
  color:white;
  text-align: center;
  padding:20px;
  background-color:rgba(50,50,50, .4);
  margin-top:250px;
}

.faq-hero h1 {
  font-size:90px;
  letter-spacing: 8px;
  font-weight:100;
  border:1px solid white;
  /* width:100%; */
  color:white;
  text-align: center;
  padding:20px;
  background-color:rgba(50,50,50, .4);
  margin-top:250px;
}

.services-pg-div {
  width:95%;
  margin:0 auto;
  padding:80px;
}

.services-pg-intro {
  width:90%;
  margin:0 auto;

}

.services-pg-div p {

}

.services-pg-div h1 {
  background-color:#FFCB9A;
}

.services-pg-container {
  width:100%;
}

.services-pg-div h3 {
  font-size:30px;
  text-align:center;
  /* background-color:rgba(247,202,153,.4); */

}

.services-pg-col-1 {
  width:70%;
  margin-right:10px;
}

.faq-pg-col-1 {
  width:70%;
  margin-right:10px;
}

.services-pg-col-2 {
  width:30%;
  padding:0px;
}

.faq-pg-col-2 {
  width:30%;
  padding:0px;
}

.services-pg-col-1 div {
  border:1px solid black;
  box-shadow: 2px 2px 3px grey;
  padding:20px;
  margin:30px 10px;
  display:flex;
  align-content: flex-start;
  flex-direction: column;
  background-color:white;
}

.faq-pg-col-1 div {
  border:none;
  box-shadow: none;
  padding:5px;
  margin:0px 0px;
  display:flex;
  align-content: flex-start;
  flex-direction: column;
  background-color:white;
}

.services-pg-col-1 h4 {
background-color:rgba(247,202,153,.4);
font-size:25px;
}

.faq-pg-col-1 h4 {
background-color:rgba(247,202,153,.4);
font-size:25px;
}

.services-pg-col-2 div {
  border:1px solid black;
  box-shadow: 2px 2px 3px grey;
  margin:30px 10px;
  display:flex;
  background-color:white;
  flex-direction: column;

}

.faq-pg-col-2 div {
  border:1px solid black;
  box-shadow: 2px 2px 3px grey;
  margin:30px 10px;
  display:flex;
  background-color:white;
  flex-direction: column;

}

.services-pg-col-2 h2 {
  border-top:1px ridge black;
  border-bottom:1px ridge black;
  margin:0;

padding:20px;
}

.faq-pg-col-2 h2 {
  border-top:1px ridge black;
  border-bottom:1px ridge black;
  margin:0;

padding:20px;
}

.services-pg-icon {
  width:90px;
  display:inline-block;
  align-self:center;
  margin:10px;
}

.form-services-pg-div {
  background-image:  url("/assets/img/lawyer-forms.jpg");
  background-color:#FFCB9A;
  height:650px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: -600px 300px;
  margin-bottom:-100px;
  padding:50px;
}

.form-services-pg {
  background-color:white;
  height:500px;
  width:900px;
  margin-left:400px;
  padding:80px;
}

.faq-container {
  width:96%;
  display:flex;
  flex-direction: row!important;
  border:none!important;
}

.faq-col-1 h5 {
  font-size:18px!important;
  background-color:none!important;
  margin-top:10px;
  margin-bottom:10px;
}

.faq-col-2 h5 {
  font-size:18px!important;
  background-color:none!important;
  margin-top:10px;
  margin-bottom:10px;
}

.faq-col-1 {
  width:40%;
}

.faq-col-2 {
  width:40%;
}

.faq-col-1 a {
  cursor: pointer;
}

.faq-col-2 a {
  cursor: pointer;
}

.back-to-top {
  font-weight:bold;
  text-align: right;
  z-index:9999;
}

.numbered-list {
  background-color:rgba(247,202,153,.4);
  font-weight:bold;
}

.numbered-p {
  display:inline!important;
}

/* DISCLAIMER AND PRIVACY POLICY */

.disclaimer-container {
    /* margin-top: 300px; */
    width: 80%;
    margin: 0 auto;
    margin-top: 300px;
}

.disclaimer-container span {
  background-color:rgba(247,202,153,.4);
}


/* ABOUT PAGE */


.about-pg-banner {
  background-image:  url("/assets/img/alexcourt2.jpg");
  width:100%;
  height:800px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0px 00px;
}

.about-pg-container {
  padding-top:70px;
}

.about-img {
  float:right;
  clear:both;
  display:inline-block;
  width:500px;
}

.about-pg-content {
  width:70%;
  margin:0 auto;
}

.blog-pg-content {
  width:80%;
  margin:0 auto;
  background-color:#fff;
  padding:120px;
}

.about-pg-content h3 {
  background-color:rgba(247,202,153,.4);
  font-size:38px;
}

.about-img-block {
  display:flex;
  height:300px;
  flex-direction: row;
  justify-content: center;
}

.about-img-block img {
  display:inline;
  width:300px;
}

.dog-1-img {
  width:400px!important;
  padding-right:20px;
}

.dog-2-img {
  width:400px!important;
  padding-left:20px;
}

.lawyer-about-pic {
  width:400px;
  height:520px;
  padding-right:00px;
  margin-bottom:100px;
}

.quote-section-about {
  background-color:rgba(247,202,153, .4);
  padding:20px 100px;
  height:60%;

}

.lawyer-pic-block {
  display:flex;
  margin-bottom:00px;
  flex-direction: row;
}

.awards {
  margin-left:40px;
  width:80%;
}

.awards h3 {
  font-size:24px;
}

.acbc-logo {
  width:200px!important;
  display:inline;
}

.services-intro .acbc-logo {
  display:inline;
  clear:both;
  float:right;
  margin-top:-20px;
}

.about-section .acbc-logo {
  align-self:flex-end;
  margin-right:80px;
}



@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

.form .form-body input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #222;
  font-size: 0.875em;
}

.form .form-body input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #222;
}

.form .form-body input::-moz-placeholder, textarea::-moz-placeholder {
  color: #222;
  font-size: 0.875em;
}

.form .form-body input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #222;
}

.form .form-body input::placeholder, textarea::placeholder {
  color: #222;
  font-size: 0.875em;
}

.form .form-body input:focus::placeholder, textarea::focus:placeholder {
  color: #ccc;
}

.form .form-body input::-ms-placeholder, textarea::-ms-placeholder {
  color: #222;
  font-size: 0.875em;
}

.form .form-body input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #222;
}

/* on hover placeholder */

.form .form-body input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.form .form-body input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.form .form-body input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.form .form-body input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

.form .form-body input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

.form .form-body input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
}

.form .form-body input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

.form .form-body input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}

.form .form-body .form-body {
  font-family: avenir;
  /* background: #e2dedb; */
  /* color: #b3aca7; */
  width:100%;
  margin:auto;
}

.form .form-body .form-row {
  display:flex; justify-content:space-around;
}

.form .form-body .form-header {
  position: relative;
  /* margin: 100px 0 25px 0; */
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  color:#030938;
}

.form .form-body #form {
  position: relative;
  width: 90%;
  /* margin: 20px auto 20px auto; */
  padding:15px;
  /* background-color:rgba(255,255,255,.8); */
}

.form .form-body #form-2 {
  position: relative;
  width: 600px;
  /* margin: 20px auto 20px auto; */
  padding:15px;
  /* background-color:rgba(255,255,255,.8); */
}

.form .form-body input {
  font-family: avenir;
  font-size: 1em;
  /* width: 768px; */
  width:100%;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  /* color: white; */
  color:#030938;

  border: solid 1px #030938;
  /* border-bottom: none; */

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.form .form-body input:hover {
  background: lightgrey;
  color: black;
}

.form .form-body textarea {
  width: 96%;
  /* max-width: 800px; */
  height: 110px;
  /* max-height: 110px; */
  padding: 15px;

  background: transparent;
  outline: none;

  color: #030938;
  font-family: avenir;
  font-size: 1em;

  border: solid 1px #030938;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.form .form-body #message {
  /* max-width:800px; */
}

.form .form-body textarea:hover {
  background: lightgrey;
  color: black;
}




/* MEDIA QUERY  */

@media only screen and (max-width:1300px) {
  .form {
    background-color:white;
    height:auto;
    width:600px;
    margin-left:300px;
    padding:50px;
  }

  #menu .flex-row:last-of-type {
    flex-wrap:wrap;
    padding-top:10px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:1024px)  {

#menu .flex-row:last-of-type {
  flex-wrap:wrap;
  padding-top:10px;
  justify-content: center;
  align-items: center;
}

#hero-banner {
  background-position:0px 0px;
}

#menu h1 {
  padding:5px 10px ;
  font-size:17px;

}

  .content-container {
    padding-top:0px;
    margin-top:50px;
  }

  .content-div {
      height: auto;
      width: 90%;
      margin: 0 auto;
      background-color: white;
      opacity: 1!important;
      padding: 10px;
      display:flex;
      flex-direction:column!important;
  }
  .content-div img {
    height:auto;
    width:400px;
    margin:0 auto;
  }
  .text-div {
      width: 90%!important;
      margin: 0 auto;
  }


  .form-div {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 10px;
}

.form {
    background-color: white;
    width: 90%;
    height:90%;
    margin-left: 0px;
    padding: 10px;
    opacity:.9;
    margin-right:0px;
  margin:0 auto;
}

.form .form-body textarea {
  width:95%;
}


.quote-section {
    background-color: rgba(247,202,153, .4);
    padding: 20px;
    height: auto;
}




.disclaimer-div img {
    width: auto;
    margin-right: 0px;
}

.disclaimer-div div p {
font-size:18px;
}


}

@media only screen and (max-width:769px)  {


#hero-banner {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 00px 00px;

}

#hero-header h1 {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 100;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0px;
        background-color:rgba(50,50,50, .4);
    margin-top: 100px;
}

.content-container {
  padding-top:0px;
  margin-top:50px;
}

.content-div {
    height: auto;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    opacity: 1!important;
    padding: 10px;
    display:flex;
    flex-direction:column!important;
}
.text-div {
    width: 90%!important;
    margin: 0 auto;
}

.headlines {
  font-size:40px;
}

.payment-header {
  font-size:20px;
}

.content-div img {
    width: auto;
    width:500px;
    height:300px;
    padding-left: 40px;
    margin-bottom:10px;
    margin:0 auto;
}

  .form-div {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 10px;
}

.form {
    background-color: white;
    width: 90%;
    height:90%;
    margin-left: 0px;
    padding: 10px;
    opacity:.9;
    margin-right:0px;
  margin:0 auto;
}

.form .form-body textarea {
  width:95%;
}

.services-div {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top:30px;
}

.services-col-container {
}

.services-col-1 {
    width: 100%;
    margin-right: 0px;
}

.services-div p {
  display:none;
}

.services-col-2 {
    width: 100%;
    margin-right: 0px;
}

.quote-section {
    background-color: rgba(247,202,153, .4);
    padding: 20px;
    height: auto;
}

.about-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom:70px;
    flex-direction:column!important;
}

.disclaimer-div {
    background-color: #FFCB9A;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    flex-direction:column!important;
    margin-top:80px;
}

.disclaimer-div img {
    width: auto;
    margin-right: 0px;
}

.disclaimer-div div p {
font-size:18px;
}


}

@media only screen and (min-width:768px) and (max-width:1120px) {

.blog-pg-content {
  width:auto;
  padding:40px;
}

.blog-pg-content-container {
  padding-top:0px;
}

.blog-container {
  margin-top:260px;
}

}


@media only screen and (min-width:421px) and (max-width:767px) {

.blog-pg-content {
  width:auto;
  padding:40px;
}

.blog-container {
  margin-top:130px;
}

.testimonials-hero h1 {
  font-size:40px;
  margin-top:100px;
}

.about-pg-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px 00px;
}

.about-pg-container {
  padding-top:40px;
}

}


@media only screen and (max-width:420px) {

  .blog-pg-content-container {
    margin-top:-0px;
    padding-top:0px;
    padding-bottom:0px;
    background-color:rgba(247,202,153,.4);
  }

  .text-indent-div {
    padding-left:0px;
    padding-right:0px;
  }


#hero-banner {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -100px 00px;
}

#hero-header h1 {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 100;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0px;
        background-color:rgba(50,50,50, .4);
    margin-top: 100px;
}

.content-container {
  padding-top:0px;
}

.content-div {
    height: auto;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    opacity: 1!important;
    padding: 10px;
    display:flex;
    flex-direction:column!important;
}
.text-div {
    width: 90%!important;
    margin: 0 auto;
}

.headlines {
  font-size:40px;
}

.content-div img {
    width: auto;
    height:240px;
    padding-left: 0px;
    margin-bottom:10px;
}

  .form-div {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 10px;
}

.form {
    background-color: white;
    height: auto;
    width: 90%;
    margin-left: 0px;
    padding: 10px;
    opacity:.9;
    margin-right:0px;
}

.form .form-body textarea {
  width:90%;
}

.services-div {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top:30px;
}

.services-col-container {
  flex-direction:column!important;
}

.services-col-1 {
    width: 100%;
    margin-right: 0px;
}

.services-div p {
  display:none;
}

.services-col-2 {
    width: 100%;
    margin-right: 0px;
}

.quote-section {
    background-color: rgba(247,202,153, .4);
    padding: 20px;
    height: auto;
}

.about-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    flex-direction:column!important;
}

.disclaimer-div {
    background-color: #FFCB9A;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    flex-direction:column!important;
    margin-top:80px;
}

.disclaimer-div img {
    width: auto;
    margin-right: 0px;
}

.disclaimer-div div p {
font-size:18px;
}

.services-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px -00px;
}


.bankruptcy-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -500px -00px;
}

.faq-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 00px -00px;
}

.services-hero h1 {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 100;
    border: 1px solid white;
    /* width: 100%; */
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(50,50,50, .4);
    margin-top: 100px;
}

.testimonials-hero h1 {
  font-size:40px;
  letter-spacing: 8px;
  font-weight: 100;
  border: 1px solid white;
  /* width: 100%; */
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(50,50,50, .4);
  margin-top: 100px;
}

.bankruptcy-hero h1 {
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 100;
    border: 1px solid white;
    /* width: 100%; */
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(50,50,50, .4);
    margin-top: 100px;
}

.faq-hero h1 {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 100;
    border: 1px solid white;
    /* width: 100%; */
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(50,50,50, .4);
    margin-top: 100px;
}

.mobile-faq-content {
  width:135%;
  padding:20px!important;
}

.faq-container {
  flex-direction:column!important;
}

.services-pg-div {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.services-pg-col-2 {
    width: 30%;
    padding: 0px;
    font-size: 8px;
}

.faq-pg-col-2 {
    width: 30%;
    padding: 0px;
    font-size: 8px;
}

.faq-col-1 {
  width:100%;
}

.faq-col-2 {
  width:100%;
}

.form-services-pg-div .form {
  width:95%;
  opacity:1;
  margin:0 auto;
  padding:10px;
}

.form-services-pg-div {
    background-image: url(/assets/img/lawyer-forms.jpg);
    background-color: #FFCB9A;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}

.services-pg-div h3 {
  font-size:25px;
}

.about-pg-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px 00px;
}

.about-pg-content {
    width: 90%;
    margin: 0 auto;
}

.blog-pg-content {
  width:auto;
  margin:0 auto;
  padding:40px;
}

.blog-post-list-item h2 {
  font-size:30px;
}

.about-pg-container {
padding-top:10px;
}

.blog-container {
  margin-top:150px;
}

.about-img-block {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img {
    float: right;
    clear: both;
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.dog-1-img {
    width: 300px!important;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dog-2-img {
    width: 300px!important;
    padding-left: 0px;
    margin-bottom: 20px;
}

.about-img-block img {
    display: inline;
    width: 300px;
    margin-bottom: 20px;
}

.lawyer-about-pic {
    width: 300px;
    height:400px;
    padding-right: 00px;
    margin-bottom: 20px;
}



.lawyer-pic-block {
    display: flex;
    margin-bottom: 00px;
    flex-direction: column;
    align-items: center;
}

.quote-section-about {
    background-color: rgba(247,202,153, .4);
    padding: 20px 20px;
    height: 60%;
}

#profile {
    height: 440px;
    margin-right: 100px;
}

.about-section .acbc-logo {
  margin-bottom:20px;
}

.contact-container {
  margin-top:200px;
}

.contact-flex {
  flex-direction:column;
}

.contact-left {
  margin:0 auto;
  width:80%;
  padding-bottom:30px;
}

.contact-right {
  width:90%;
  margin:0 auto;
  margin-top:-20px;
  padding-bottom:20px;
}

.contact-img {
  width:200px;
}

.email-icon-contact {
  width:35px;
}

.phone-icon-contact {
  width:35px;
}



}
